
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V3</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Content/Login_v3/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login_v3/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login_v3/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login_v3/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login_v3/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login_v3/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login_v3/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login_v3/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login_v3/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login_v3/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Login_v3/css/main.css">
    <!--===============================================================================================-->
</head>
<body id="myBody">

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form">
                    <span class="login100-form-title p-b-34 p-t-27">
                        Edit
                    </span>
                    <!-- TEXTFIELD -->
                    <input class="input100" type="hidden" id="Email" placeholder="email">

                    <div class="wrap-input100 validate-input" data-validate="Enter department">
                        <select class="input100" id="CBDept"></select>
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Enter firstname">
                        <input class="input100" type="text" id="FirstName" placeholder="firstname">
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Enter lastname">
                        <input class="input100" type="text" id="LastName" placeholder="lastname">
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Enter birthdate">
                        <input class="input100" type="date" id="BirthDate" placeholder="birthdate">
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Enter phonenumber">
                        <input class="input100" type="text" id="PhoneNumber" placeholder="phonenumber">
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Enter address">
                        <input class="input100" type="text" id="Address" placeholder="address">
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    </div>

                    <!-- TEXTFIELD -->
                </form>

                <div class="container-login100-form-btn">
                    <button onclick="Edit()" class="login100-form-btn">
                        Submit
                    </button>
                </div>
                <br />
                <div class="container-login100-form-btn">
                    <button onclick="location.href='@Url.Action("Logout", "User")'" class="login100-form-btn">
                        Logout
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="~/Content/Login_v3/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login_v3/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login_v3/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Content/Login_v3/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login_v3/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login_v3/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Content/Login_v3/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login_v3/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login_v3/js/main.js"></script>
    <!-- Datetime format -->
    <script src="~/Content/Mini AdminPro/assets/plugins/moment/moment.js"></script>

    <!-- internal script -->
    <script src="~/Scripts/UserScript.js"></script>
    <script src="~/Scripts/GetByEmail.js"></script>

    <!-- alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.10.9/dist/sweetalert2.all.min.js"></script>

</body>
</html>
