
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/NewLayout.cshtml";
}

<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Department Dashboard</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active">Department Dashboard</li>
            </ol>
        </div>
        <div class="col-md-6 col-4 align-self-center">
            <button class="right-side-toggle waves-effect waves-light btn-info btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
            <div class="dropdown pull-right m-r-10 hidden-sm-down">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> March 2020 </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> <a class="dropdown-item" href="#">March 2020</a> <a class="dropdown-item" href="#">April 2020</a> <a class="dropdown-item" href="#">May 2020</a> </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Department</h2>
                    <hr />
                    <!-- Trigger the modal with a button -->
                    <button type="button" onclick="ShowModal()" class="btn pull-left hidden-sm-down btn-success m-b-5" data-placement="top"> <i class="mdi mdi-plus-circle"></i> Create</button>
                    <div>
                        <button type="button" onclick="location.href='@Url.Action("ExportToPDF", "Department")'" class="btn pull-right hidden-sm-down btn-default m-l-5" data-placement="top"> PDF</button>
                        <button type="button" onclick="location.href='@Url.Action("ExportToExcel", "Department")'" class="btn pull-right hidden-sm-down btn-default m-l-5" data-placement="top"> Excel</button>
                        <button type="button" onclick="location.href='@Url.Action("ExportToCSV", "Department")'" class="btn pull-right hidden-sm-down btn-default m-l-5" data-placement="top"> CSV</button>
                    </div>
                    <!-- Modal -->
                    <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog ">
                            <!-- Modal content -->
                            <div class="modal-content">
                                <form id="myForm">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Department</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <input type="hidden" class="form-control" id="Id">
                                        </div>
                                        <div class="form-group">
                                            <label for="Name">Name</label>
                                            <input class="form-control" id="Name" placeholder="Name">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="SaveBtn" type="button" onclick="Save()" class="btn btn-success" data-dismiss="modal">Submit</button>
                                        <button id="UpdateBtn" type="button" onclick="Edit()" class="btn btn-success" data-dismiss="modal">Update</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <table id="deptTable" class="display">
                        <thead>
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Create Date
                                </th>
                                <th>
                                    Update Date
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody class="deptbody" />
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{

    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="~/Content/Mini AdminPro/assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/Content/Mini AdminPro/assets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="~/Content/Mini AdminPro/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/Content/Mini AdminPro/main/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="~/Content/Mini AdminPro/main/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/Content/Mini AdminPro/main/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="~/Content/Mini AdminPro/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <!--Custom JavaScript -->
    <script src="~/Content/Mini AdminPro/main/js/custom.min.js"></script>
    <!-- This is data table -->
    <script src="~/Content/Mini AdminPro/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <link href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
    <!-- start - This is for export functionality only -->
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
    <!-- end - This is for export functionality only -->
    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->
    <script src="~/Content/Mini AdminPro/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>

    <!-- Datetime format -->
    <script src="~/Content/Mini AdminPro/assets/plugins/moment/moment.js"></script>

    <!-- internal script -->
    <script src="~/Scripts/DepartmentScript.js"></script>

    <!-- alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.10.9/dist/sweetalert2.all.min.js"></script>

}
